:root {
	--index: 0;
}

.slideIn {
	opacity: 0;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.75, -0.015, 0.565, 1.055);
	transition-property: opacity, transform;
	transition-delay: calc(0.08s * var(--index));

	&.slideInLeft {
		transform: translateX(-30%) scale(0.95);
	}

	&.active {
		opacity: 1;
		transform: translateX(0%) scale(1);
	}
}
