/*================================================================
    advantages.scss
================================================================*/

// ------------------ background imgae ----------------------

// webp not supported
.no-webp .advantages.preload-bg {
	background-image: url("media/bg/2-375x2840.jpg");
	background-size: cover;
	background-position: center;

	@media screen and (min-width: 375px) {
		background-image: url("media/bg/2-760x2240.jpg");
	}

	@media screen and (min-width: 760px) {
		background-image: url("media/bg/2-990x1600.jpg");
	}
	@media screen and (min-width: 990px) {
		background-image: url("media/bg/2-1200x1320.jpg");
	}

	@media screen and (min-width: 1200px) {
		background-image: url("media/bg/2-1920x1240.jpg");
	}
}

// webp supported
.webp .advantages.preload-bg {
	background-image: url("media/bg/2-375x2840.webp");
	background-size: cover;
	background-position: center;

	@media screen and (min-width: 375px) {
		background-image: url("media/bg/2-760x2240.webp");
	}

	@media screen and (min-width: 760px) {
		background-image: url("media/bg/2-990x1600.webp");
	}
	@media screen and (min-width: 990px) {
		background-image: url("media/bg/2-1200x1320.webp");
	}

	@media screen and (min-width: 1200px) {
		background-image: url("media/bg/2-1920x1240.webp");
	}
}

// JS disabled
.no-js.webp .advantages.preload-bg,
.no-js.no-webp .advantages.preload-bg {
	background-image: url("media/bg/2-375x2840.jpg");
	background-size: cover;
	background-position: center;

	@media screen and (min-width: 375px) {
		background-image: url("media/bg/2-760x2240.jpg");
	}

	@media screen and (min-width: 760px) {
		background-image: url("media/bg/2-990x1600.jpg");
	}
	@media screen and (min-width: 990px) {
		background-image: url("media/bg/2-1200x1320.jpg");
	}

	@media screen and (min-width: 1200px) {
		background-image: url("media/bg/2-1920x1240.jpg");
	}
}

// --------------------------------------------------------

.advantages .advantages-wrap {
	width: 100%;
	display: grid;
	grid-gap: 2px;
	align-items: stretch;
	align-content: stretch;
	justify-content: center;

	@media screen and (min-width: $screen-sm-min) {
		grid-template-columns: 1fr 1fr;
		max-width: none;
	}
	@media screen and (min-width: $screen-md-min) {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.advantages-heading {
		margin-bottom: 15px + 20px;
		grid-column: 1 / -1;
		color: $color-white;
	}

	& > div {
		height: 100%;
	}

	/* IE10+ grid alternative */
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		display: flex;
		flex-flow: wrap;
		justify-content: center;

		.advantages-heading {
			flex: 1 0 100%;
		}

		.advantage-wrapper {
			flex: 1 0 0;
			margin: 1px;

			.advantage {
				min-height: 390px;
			}
		}
	}
}

.advantage {
	height: 100%;
	max-width: $screen-xs-min;
	// background: $color-white;
	background-color: rgba(255, 255, 255, 0.9) !important;
	padding: 50px;

	.advantage-icon-wrap,
	.advantage-info,
	.advantage-link {
		@include translate3d(0, 0, 0);
		@include cubic-transition(
			$delay: 0,
			$duration: 300ms,
			$property: (
				all,
			)
		);
	}
	.advantage-link {
		display: inline-block;
		opacity: 0;
	}

	.advantage-icon {
		display: block;
		margin-bottom: 30px;
	}

	&:hover {
		.advantage-icon-wrap {
			opacity: 0;
			@include translate3d(0, -30px, 0);
			@include cubic-transition(
				$delay: 0,
				$duration: 300ms,
				$property: (
					all,
				)
			);
		}

		.advantage-info {
			@include translate3d(0, -60px, 0);
			@include cubic-transition(
				$delay: 0,
				$duration: 300ms,
				$property: (
					all,
				)
			);
		}

		.advantage-link {
			@include translate3d(0, -30px, 0);
			opacity: 1;
		}
	}
}
