/*================================================================
    contact.scss
================================================================*/

.contact {
	&.preload-bg {
		background-image: url("../media/bg/3-375x1760.webp");
		background-size: cover;
		background-position: center;
		// background-attachment: fixed;

		@media screen and (min-width: 375px) {
			background-image: url("../media/bg/3-760x1624.webp");
		}
		@media screen and (min-width: 760px) {
			background-image: url("../media/bg/3-1280x720.webp");
		}
		@media screen and (min-width: 1280px) {
			background-image: url("../media/bg/3-1920x1240.webp");
		}
	}

	.row {
		position: relative;
	}
}

// Inquiry col
.inquiry-col {
	.enquire-input,
	.enquire-textarea {
		@include font($size: 14px, $weight: 400);
		@include placeholder($color-subtitle);
		color: $color-heading;
		background: $color-light-transparent;
		@include placeholder($color-heading);
		border: none;
		box-shadow: none;
		@include border-radius(0);
		padding-left: 15px;

		&:focus {
			color: black;
			@include placeholder($color-heading);
			box-shadow: none;
		}
	}

	.enquire-input {
		height: 50px;
	}

	.btn-wrap {
		text-align: center;

		.enquire-btn {
			width: 50%;
		}
	}
}

// Contact col
.contact-col {
	display: flex;
	justify-content: center;

	.info-container {
		padding: 40px;
		background-color: white;
	}

	.col-override {
		// force boostrap sm breakpoint at xs width
		// avoid single narrow col with lots of empty space around
		@media screen and (min-width: $screen-xs-min) {
			// display: inline-block;
			width: 50%;
			float: left;
		}
	}

	span {
		display: block;
		white-space: nowrap;

		&.contact-label {
			font-weight: bold;

			&.inline {
				display: inline;
			}
		}
	}
}
