/*================================================================
    landing.scss
================================================================*/

.landing {
	position: relative;
	height: 100vh;
	overflow: hidden;

	.preload-bg.bg-back,
	.preload-bg.bg-front {
		height: 100vh;
		width: 100vw;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;
	}

	// mobile view - disable split image parallax
	.preload-bg.bg-back {
		background-image: url("media/bg/1-375x812.webp");
	}
	.preload-bg.bg-front {
		display: none;
	}

	@media screen and (min-width: 375px) {
		.preload-bg.bg-back {
			background-image: url("media/bg/1-1024x1366.webp");
		}
	}
	// desktop enable spilt image parallax
	@media screen and (min-width: 1024px) {
		.preload-bg.bg-back {
			background-image: url("media/bg/1-back-1366x911.webp");
		}
		.preload-bg.bg-front {
			display: block;
			background-image: url("media/bg/1-front-1366x911.webp");
		}
	}
	@media screen and (min-width: 1366px) {
		.preload-bg.bg-back {
			background-image: url("media/bg/1-back-1920x1280.webp");
		}
		.preload-bg.bg-front {
			background-image: url("media/bg/1-front-1920x1280.webp");
		}
	}

	.bg-text {
		// display: none;
		position: absolute;
		left: 0;
		top: 230px;
		opacity: 0.12;
		filter: blur(1px);

		img {
			transform: scale(2.5) translateX(30%);

			@media (max-width: $screen-sm-min) {
				transform: scale(2) translateX(24%);
			}
		}
	}
}

.hero {
	@include position(absolute, $top: 30%);
	width: 90%;

	.hero-logo-img {
		max-width: 200px;
		transition: opacity 300ms ease;

		$shadow: drop-shadow(0 0 1px rgba(0, 0, 0, 1));
		-webkit-filter: $shadow;
		-ms-filter: $shadow;
		filter: $shadow;

		/* Navigation collapse  */
		@media (max-width: $screen-xs-max) {
			display: none;
		}
	}

	.hero-title {
		span {
			line-height: 1.1;
			font-size: 100px;
			text-shadow: 0 0 2px rgba(0, 0, 0, 1);

			@media (max-width: $screen-sm-min) {
				@include font($size: 68px);
				text-shadow: 0 0 4px rgba(0, 0, 0, 1);
			}
		}

		span.title-left {
			// TEMP
			// background-color: black;
			font-weight: 200;
			color: rgb(200, 200, 200);

			@media (max-width: $screen-sm-min) {
				color: $color-sky-light;
			}
		}

		span.title-right {
			font-weight: 600;
			// TEMP
			color: $color-white;
			// font-style: italic;
		}
	}

	.slogan {
		margin-top: 20px;
		color: $color-subtitle;
	}
}

.page-on-scroll .hero .hero-logo-img {
	opacity: 0;
}
