/*------------------------------------------------------------------
  	[Footer]
------------------------------------------------------------------*/

.footer {
	.footer-content {
		display: flex;
		justify-content: center;
		justify-items: center;
		text-align: center;
		max-width: $screen-sm-min;

		@media (max-width: $screen-xs-min) {
			padding: 25px 0;
			flex-flow: column;
		}
	}

	.footer-link {
		margin: auto;

		@media (max-width: $screen-xs-min) {
			margin: 5px auto;
		}

		a {
			text-decoration: underline;
		}
	}

	.footer-logo {
		@include size(140px, auto);
	}
}
